.profiles-button:hover {
    transform: translate(2px, 2px);
}

.profiles-button:active {
    transform: translate(6px, 6px);
}

.profiles-button {
    transition: transform 0.03s ease-in-out;
}

.cursor {
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
