@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .square-grids {
        background-image: linear-gradient(
                to right,
                rgba(120, 120, 120, 0.05) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(120, 120, 120, 0.05) 1px,
                transparent 1px
            );

        background-size: 70px 70px;
    }
}
