@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black dark:text-white;
    }
}

@layer components {
    .section-wrapper {
        @apply py-20 md:py-[5.5rem] lg:py-28;
    }

    .custom-container {
        @apply bg-gray-100 dark:bg-container-dark-bg;
        @apply border-2 border-gray-200 dark:border-gray-800;
    }

    .aurora-sphere-sm {
        @apply absolute w-[15rem] h-[15rem] lg:w-[20rem] lg:h-[20rem] rounded-full opacity-15;
    }

    .aurora-sphere-md {
        @apply absolute w-[20rem] h-[20rem] lg:w-[25rem] lg:h-[25rem] rounded-full opacity-15;
    }

    .aurora-sphere-lg {
        @apply absolute w-[30rem] h-[30rem] lg:w-[35rem] lg:h-[35rem] rounded-full opacity-15;
    }

    .nav-text-inactive {
        @apply text-gray-500;
        @apply active:font-semibold lg:hover:font-semibold;
        @apply active:hover:text-gray-900 lg:hover:text-gray-900 active:dark:text-white lg:hover:dark:text-white;
        @apply active:bg-gray-200 lg:hover:bg-gray-200 active:dark:bg-gray-800 lg:hover:dark:bg-gray-800;
    }

    .sec-text {
        @apply text-gray-700 dark:text-gray-300;
    }

    .cert-icon {
        @apply absolute top-3 right-3 filter brightness-125 h-16 w-12;
    }

    .cert-badge {
        @apply flex items-center gap-1.5 px-3.5 py-2 w-fit text-xs text-white;
    }

    .grids-lg {
        background-image: linear-gradient(
                to right,
                rgba(80, 80, 80, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(80, 80, 80, 0.07) 1px,
                transparent 1px
            );
        background-size: 70px 70px;
    }

    .dark .grids-lg {
        background-image: linear-gradient(
                to right,
                rgba(180, 180, 180, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(180, 180, 180, 0.07) 1px,
                transparent 1px
            );
    }

    .grids-md {
        background-image: linear-gradient(
                to right,
                rgba(130, 130, 130, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(130, 130, 130, 0.07) 1px,
                transparent 1px
            );
        background-size: 50px 50px;
    }

    .dark .grids-md {
        background-image: linear-gradient(
                to right,
                rgba(100, 100, 100, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(100, 100, 100, 0.07) 1px,
                transparent 1px
            );
    }
}
