@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black dark:text-white;
    }
}

@layer components {
    .container {
        @apply bg-container-light-bg dark:bg-container-dark-bg bg-opacity-50;
        @apply border-2 border-gray-200 dark:border-gray-800;
    }

    .aurora-sphere-lg {
        @apply absolute w-[30rem] h-[30rem] lg:w-[35rem] lg:h-[35rem] rounded-full opacity-20;
    }

    .sec-text {
        @apply text-gray-700 dark:text-gray-300;
    }

    .cert-icon {
        @apply absolute top-3 right-3 filter brightness-125 h-16 w-12;
    }

    .cert-badge {
        @apply flex items-center gap-1.5 px-3.5 py-2 w-fit text-xs text-white;
    }

    .square-grids {
        background-image: linear-gradient(
                to right,
                rgba(80, 80, 80, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(80, 80, 80, 0.07) 1px,
                transparent 1px
            );

        background-size: 70px 70px;
    }

    .dark .square-grids {
        background-image: linear-gradient(
                to right,
                rgba(180, 180, 180, 0.07) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(180, 180, 180, 0.07) 1px,
                transparent 1px
            );

        background-size: 70px 70px;
    }
}
